# Mac filesystem dust
.DS_Store/
.DS_Store

# Linux temp files
*~

# IntelliJ
*.iml
.idea

# Gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
build

# Moka
build-data
patches/todo
run

Moka-API
Moka-MojangAPI
Moka-Server
paper-api-generator